.BookAFree {
    /* color: #fff; */
    /* --color2: white; */
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid #164DA5;
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 500;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: #fff;
    margin: 20px 0;
   }
   .changeColor{
    color: #000;
   }
   
   .BookAFree::after, .BookAFree::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: #164DA5;
   }
   
   .BookAFree::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .BookAFree:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .BookAFree:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   .BookAFree:hover {
    color: #fff;
   }
   
   .BookAFree:active {
    filter: brightness(.7);
    transform: scale(.98);
   }